Jellyfin/jellyfin/**/*
!Jellyfin/jellyfin/
!Jellyfin/jellyfin/*/

# !Jellyfin/jellyfin/config.xml
# !Jellyfin/jellyfin/options.xml

Caddy/**/*
!Caddy/
!Caddy/*/

Gluetun/downloads/*
Gluetun/qbittorrent/*
Gluetun/config/*
Gluetun/qbittorrent-config/*
Minecraft/data/*
Qbittorrent/qbittorrent-config
Qbittorrent/downloads
.env
*.env
