Jellyfin/jellyfin/**/*
!Jellyfin/jellyfin/
!Jellyfin/jellyfin/*/

# !Jellyfin/jellyfin/config.xml
# !Jellyfin/jellyfin/options.xml

Caddy/**/*
!Caddy/
!Caddy/*/

Gluetun/downloads/*
Gluetun/qbittorrent/*

.env
*.env
