# Jellyfin - ignore everything in jellyfin data folder except maybe config files
Jellfyin/jellyfin/*/
Jellfyin/jellyfin/*.db
Jellfyin/jellyfin
Jellfyin/jellyfin/cache/
Jellfyin/jellyfin/logs/

# Caddy data
Caddy/config/
Caddy/data
Caddy/caddy_config

.env
*.env