services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file:
      - ../.env
    environment:
      # Remove ${} - Gluetun will read these directly from the .env file
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=openvpn
      - PROTONVPN_PORT_FORWARDING=on
      - PROTONVPN_TIER=plus
      - SERVER_COUNTRIES=Sweden
      # Only specify variables that don't need to be secret
    ports:
      - "8080:8080/tcp"
      - "6881:6881/tcp"
      - "6881:6881/udp"
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: "service:gluetun"
    env_file:
      - ../.env
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
      - WEBUI_PORT=8080
    volumes:
      - ./qbittorrent-config:/config
      - ./downloads:/downloads
    depends_on:
      - gluetun
    restart: unless-stopped
